<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333059595705-8qcr7ekmst3dofk8kurp8rfev2fbhqsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333059595705-8qcr7ekmst3dofk8kurp8rfev2fbhqsm</string>
	<key>API_KEY</key>
	<string>AIzaSyAZBIlxk9m_HA4jgs8NbClf2i8mUsOmdos</string>
	<key>GCM_SENDER_ID</key>
	<string>333059595705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-app-371813</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-app-371813.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333059595705:ios:c0890cd349ba910a482a68</string>
</dict>
</plist>